.student-table-container {
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  height: 40vh;
  grid-template-columns: repeat(2, 1fr); /* 두 개의 열로 나눔 */
  gap: 20px; /* 열 간격 설정 */
  overflow-y: scroll;
}

.student-table-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 요소를 두 열로 분산 배치 */
}

.student-table-column {
  flex-basis: calc(50% - 10px); /* 한 열의 너비를 반으로 설정하고 열 간격 고려 */
}

/* 테이블 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #a6e077;
}
