.react-calendar {
    width: 23vw !important;
    max-width: 100% !important;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    font-size: 1.1vw !important;
  }

  /* 수정 */
  .deadline {
    background: rgb(253, 122, 122) !important;
    color: white !important;
  }
  