.Main{
  display: flex;
  flex-direction: column;
  text-align: left;
}

#first_row{
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: aquamarine;
}

#second_row{
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: rgb(125, 125, 172);
  height: 20vh;
}
